@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body bgcolor="blue">
<div class="row">
    <div class="col-md-3">
        <h2>My Sample Azure Application</h2>
        <ul>
            <li>Sample pages </li>
            <li>Sample Web App</li>
        </ul>
    </div>
   
</div>
    </body>

